body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  font: inherit;
  color: #000000;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 15px 0 15px 71px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 44%;
  z-index: 1;
}

.site-navigation-info {
  width: 239px;
  text-align: left;
  margin-right: 2px;
}

.site-navigation-foto {
  width: 239px;
  text-align: left;
  margin-right: 95px;
}

.site-navigation-map {
  width: 239px;
  text-align: right;
  margin-right: 5px;
}

.site-navigation-catalog {
  width: 239px;
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-background {
  height: 432px;
  text-align: center;
  padding-top: 76px;
  background-color: #d5dfeb;
  background-image: url("../img/background-photo-polygon.svg"), url("../img/background-photo.jpg");
  background-position: 0 451px, 0 -82px;
  background-repeat: no-repeat;
}

.visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-sedona {
  height: 177px;
  text-align: center;
  padding-top: 40px;
}

.about-sedona p:first-of-type {
  width: 440px;
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.about-sedona p:last-of-type {
  font-weight: 400;
}

.appointment {
  padding-top: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.real-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.real-city-text {
  width: 400px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  padding-top: 46px;
}

.real-city-text p {
  line-height: 21px;
}

.real-city-text p:first-of-type {
  font-size: 21px;
  font-weight: 700;
  width: 140px;
  margin: 0 auto 24px auto;
}

.real-city-text p:nth-of-type(2) {
  margin: 0 auto 22px auto;
  font-weight: 400;
  font-size: 14px;
}

.real-city-text p:nth-of-type(3) {
  width: 280px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
}

.real-city-image {
  width: 800px;
  height: 255px;
  background-color: #c3b7a9;
  background-image: url("../img/real-city.jpg");
  background-position: 0 -78px;
  background-repeat: no-repeat;
}

.devils-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.devils-bridge-image {
  width: 800px;
  height: 256px;
  background-color: #e6a48a;
  background-image: url(../img/devils-bridge.jpg);
  background-position: 0 -76px;
  background-repeat: no-repeat;
}

.devils-bridge-text {
  width: 400px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  padding-top: 46px;
}

.devils-bridge-text p {
  line-height: 21px;
}

.devils-bridge-text p:first-of-type {
  font-size: 21px;
  font-weight: 700;
  width: 151px;
  margin: 0 auto 24px auto;
}

.devils-bridge-text p:nth-of-type(2) {
  margin: 0 auto 22px auto;
  font-weight: 400;
  font-size: 14px;
}

.devils-bridge-text p:nth-of-type(3) {
  width: 303px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 400px;
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.features-list h3 {
  font-size: 21px;
  margin: 0 auto 22px auto;
}

.features-list p {
  width: 290px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: auto;
}

.features-list li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 61px;
  right: 163px;
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
}

.features-list li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  top: 61px;
  right: 163px;
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
}

.features-list li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  top: 57px;
  right: 168px;
  background-image: url("../img/present-icon.svg");
  background-repeat: no-repeat;
}

.description {
  background-color: #eeeeee;
}

.description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.description-list li {
  width: 400px;
  text-align: center;
  padding-top: 47px;
}

.first-line {
  width: 150px;
  line-height: 21px;
  font-size: 21px;
  font-weight: 700;
  margin: 0 auto 23px auto;
}

.second-line {
  margin: 0 0 22px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.third-line {
  width: 262px;
  margin: 0 auto 59px auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.third-line-3 {
  width: 247px;
  margin: 0 auto 59px auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.appointment {
  position: relative;
  padding-top: 51px;
}

.appointment > p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.appointment > p:nth-of-type(2) {
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 45px;
}

.form-button {
  display: inline-block;
  vertical-align: middle;
  padding: 30px 139px 30px 140px;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
}

.form-button:hover,
.form-button:focus {
  font-size: 21px;
  color: #ffffff;
  background-color: #604e43;
}

.form-button:active {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

@-webkit-keyframes form-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes form-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-form {
  position: absolute;
  width: 568px;
  height: 355px;
  left: 316px;
  top: 291px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  display: block;
  -webkit-animation: form-opacity 1s;
          animation: form-opacity 1s;
}

.search-form-show {
  display: none;
}

.search-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 30px;
}

.search-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 13px;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

.search-form label[for="adults"] {
  margin-right: 41px;
}

.search-form label[for="children"] {
  margin-right: 27px;
  margin-left: 53px;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

.icon-calendar-1 {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 63px;
  left: 483px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-calendar-2 {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 130px;
  left: 483px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-calendar-1:hover path,
.icon-calendar-2:hover path {
  fill: #231f20;
}

.icon-calendar-1:active path,
.icon-calendar-2:active path {
  fill: #81b3d2;
  border: none;
}

.button-select-minus {
  display: inline-block;
  vertical-align: middle;
  background-color: #f2f2f2;
  width: 38px;
  padding: 24px 0 14px 0;
  border: none;
  position: relative;
}

.button-select-minus::before {
  content: "";
  width: 12px;
  height: 3px;
  background-color: #cacaca;
  position: absolute;
  bottom: 17px;
  right: 13px;
}

.button-select-plus {
  display: inline-block;
  vertical-align: middle;
  background-color: #f2f2f2;
  width: 38px;
  padding: 24px 0 14px 0;
  border: none;
  position: relative;
}

.button-select-plus::before {
  content: "";
  width: 12px;
  height: 3px;
  background-color: #cacaca;
  position: absolute;
  bottom: 17px;
  right: 13px;
}

.button-select-plus::after {
  content: "";
  width: 12px;
  height: 3px;
  background-color: #cacaca;
  position: absolute;
  bottom: 17px;
  right: 13px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button-select-minus:hover::before,
.button-select-plus:hover::before,
.button-select-plus:hover::after {
  background-color: #000000;
}

.button-select-minus:active::before,
.button-select-plus:active::before,
.button-select-plus:active::after {
  background-color: #669ec0;
}

.button-select::after {
  content: "";
  width: 12px;
  height: 3px;
  background-color: #cacaca;
  position: absolute;
  bottom: 17px;
  right: 13px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.search-form input[name="adults"],
.search-form input[name="children"] {
  width: 38px;
  background-color: #f2f2f2;
  border: none;
  padding: 10.5px 0 10.5px 0;
  text-align: center;
}

.search-form .button {
  display: inline-block;
  vertical-align: middle;
  padding: 17px 195px;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  margin-top: 24px;
}

.search-form .button:hover {
  background-color: #669ec0;
}

.search-form .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.map {
  height: 472px;
  background-color: #cbdda9;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px 101px 28px 132px;
}

.main-footer > p {
  font-size: 21px;
  margin-right: auto;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 auto 0 145px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright p {
  font-weight: 400;
  margin-right: 8px;
}

.main-footer-logo {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-footer-logo:hover path {
  fill: #81b3d2;
}

.main-footer-logo:active path {
  fill: #bdbbbc;
}

.main-filter {
  background-color: #625859;
  background-image: url(../img/sedona-mountains-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #5496bd;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 27px 0 0 57px;
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter fieldset:nth-child(1) {
  margin-right: 95px;
}

.filter fieldset:nth-child(2) {
  margin-right: 335px;
}

.filter fieldset:nth-child(3) {
  padding: 0;
}

.filter-group {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 0 0 2px;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 42px;
  font-weight: 400;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus:not(:checked) + label::before,
.filter-input-checkbox:focus:checked + label::after {
  outline: 1px solid #81b3d2;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 0 7px 72px;
  border-bottom: 1px solid #f2f2f2;
}

.sorting p:nth-child(1) {
  font-size: 21px;
  line-height: 26px;
  margin-right: 49px;
}

.sorting p:nth-child(2) {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
  font-weight: 400;
}

.sorting a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  font-weight: 400;
}

.sorting-price,
.sorting-type {
  margin-right: 33px;
  color: #81b3d2;
}

.sorting-rating {
  margin-right: 507px;
}
 
.sorting .active {
  color: #81b3d2;
  border: none;
}

.sorting a:hover:not(.active) {
  color: #81b3d2;
}

.sorting a:active:not(.active) {
  color: #000000;
  border-bottom: none;
}

.sorting-up {
  position: relative;
  margin-right: 23px;
}

.sorting-up::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -2px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sorting-up:hover::before {
  background-image: url("../img/icon-up-dir-black.svg");
}

.sorting-up:active::before {
  background-image: url("../img/icon-up-dir-blue.svg");
}

.sorting-down {
  position: relative;
}

.sorting-down::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -2px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir-blue.svg");
  background-repeat: no-repeat;
}

.filter fieldset:nth-child(3) {
  width: 318px;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 26px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding-top: 6px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0  0 0 85px;
  padding: 6px 33px 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 151px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 72px;
  border-bottom: 1px solid #f2f2f2;
  margin-top: -1px;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 258px;
  margin-left: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 21px;
}

.catalog-item img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.catalog-item h3 {
  width: 227px;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.catalog-item h3:hover {
  color: #81b3d2;
}

.catalog-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
  width: 117px;
  line-height: 15px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding-bottom: 9px;
}

.catalog-item > p:last-of-type {
  position: relative;
  width: 110px;
  color: #666666;
  background-color: #f2f2f2;
  margin: 93px 0 30px auto;
  text-align: center;
  padding-top: 7px;
}

.catalog-item > p::before {
  content: "";
  position: absolute;
  top: -63px;
  right: 0;
  width: 89px;
  height: 18px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.catalog-item:nth-child(2) > p::before {
  width: 66px;
}

.catalog-item:nth-child(3) > p::before {
  width: 42px;
}

.info-button {
  width: 110px;
  height: 24px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  padding-top: 3px;
}

.info-button:hover,
.info-button:focus {
  line-height: 21px;
  color: #ffffff;
  background-color: #669ec0;
}

.info-button:active {
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.booking-button {
  width: 142px;
  height: 24px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
  margin-left: 6px;
  text-align: center;
  padding-top: 3px;
}

.booking-button:hover,
.booking-button:focus {
  line-height: 21px;
  color: #ffffff;
  background-color: #604e43;
}

.booking-button:active {
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}